<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <div id= "b_design">
    <h2 style="padding-left: 350px; padding-top: 20px;"><i><span style="font-family:'Courier New', Courier, monospace; color:olivedrab">About Me</span></i></h2>
     
      <div style="padding: 40px;background-color:azure;">
         <p > My name is Saima Rafik Patel. I am currenlty studing Software Engineering at Centennial college in Canada. I have knowledge regarding html, css,
            Javascript, csharp, Also, trying get more things in my control like- mongodb, nodejs, Express js.
          </p>
<br><br>
      <div  style="padding-left: 50px;  width: 400px; border: 3px solid black; padding: 10px; margin: 10px;">
        <table>
           <tr>
              <td>Status:</td>
              <td>  Student</td>
            </tr>
            <tr></tr>
            <tr>
              <td>College:</td>
              <td>  Centennial College</td>
            </tr>
            
            <tr></tr>
            <tr>
              <td>Email:</td>
              <td>  Saima.dabgar@gmail.com</td>
            </tr>
            
            <tr></tr>
            <tr>
              <td>Program:</td>
              <td>  Software Engineering Technician</td>
            </tr>
            
            <tr></tr>
            <tr>
              <td>Phone:</td>
              <td>  (345) 332 2352</td>
            </tr>
            
          
        </table>
      </div>
      <br><br><br>
   <h6><u> Download Resume Here</u></h6>
   <a href="/assets/pdf/resume.pdf" download>Saima_Rafik_Patel.pdf</a>
   </div>

   <footer style="padding-left: 10%; position: absolute;left:10px;bottom:10px; ">Copyright &copy Saima Rafik Patel(301248048) - Portfolio </footer>
    

<%- include partials/footer.ejs %>