<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<div>
  <h1 style="padding-left: 550px">
    <span
      style="font-family: 'Courier New', Courier, monospace; color: olivedrab"
      ><i>Portfolio Website</i></span
    >
  </h1>
</div>
<div id="b_design">
  <h3><u>Welcome</u></h3>
  <br />
  <p>
    Hello, My name is Saima Rafik Patel. I welcome you at my portfolio website.
    To know more about me <a href="about" alt="About Me">Click Here</a> and to
    contact please click <a href="mycontacts" alt="About Me">#</a>. Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Accusantium nesciunt eveniet
    molestiasaspernatur quos tempora, mollitia ut odio atque sunt aut ad neque
    expedita voluptatum accusamus itaque, iure, aliquam voluptatibus. Lorem
    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <br /><br /><br />
  <h3><u>Mission Statement</u></h3>
  <br />
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
    nesciunt eveniet molestiasaspernatur quos tempora, mollitia ut odio atque
    sunt aut ad neque expedita voluptatum accusamus itaque, iure, aliquam
    voluptatibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
    est laborum.
  </p>
</div>

<footer style="padding-left: 10%; position: absolute; left: 10px; bottom: 10px">
  Copyright &copy Saima Rafik Patel(301248048) - Portfolio
</footer>

<%- include partials/footer.ejs %>
