<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<h2 style="padding-left: 550px; padding-top: 20px;"><i><span style="font-family:'Courier New', Courier, monospace; color:olivedrab">Services Provided</span></i></h2>
<br>
<div id="quote">
<p style="font-size: 20px; ">"Come and check the brilliant services provided by us at affordable prices"</p>
</div>
<div id="service">
<h5>Web Application development</h5>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Basic</div>
</div>
<br>
<h5>Coding help</h5>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Intermediate</div>
</div>
<br>
<h5>Srs Development</h5>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Advance</div>
</div>
<br>
<h5>Web form Creation</h5>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Advance</div>
</div>
<br>



</div>

<h2 style="text-align:center; "><i>Pricing</i></h2>
<div style="padding-left:8%;padding-right: 8%; padding-bottom: 50px;;">
<div class="columns">
<ul class="price">
<li class="header">Basic</li>
<li class="grey">$ 80.00 / webpage</li>
<li class="grey">$ 150.00 / web form</li>
<li class="grey">$ 250.00 / Srs Document</li>
<li class="grey"><a href="/mycontacts" class="button">Sign Up</a></li>
</ul>
</div>

<div class="columns">
<ul class="price">
<li class="header" style="background-color:#04AA6D">Normal</li>
<li class="grey">$ 180.00 / webpage</li>
<li class="grey">$ 160.00 / web form</li>
<li class="grey">$ 350.00 / Srs Document</li>
<li class="grey"><a href="/mycontacts" class="button">Sign Up</a></li>
</ul>
</div>

<div class="columns">
<ul class="price">
<li class="header">Premium</li>
<li class="grey">$ 110.00 / webpage</li>
<li class="grey">$ 190.00 / web form</li>
<li class="grey">$ 500.00 / Srs Document</li>
<li class="grey"><a href="/mycontacts" class="button">Sign Up</a></li>
</ul>
</div>
</div>
<div style="padding-top: 350px; padding-left: 10%;">
<footer>Copyright &copy Saima Rafik Patel(301248048) - Portfolio </footer>
</div>

<%- include partials/footer.ejs %>